.positionTagAndStars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CollapsePosition{
    display: flex;
    justify-content: center;
    height: 450px;
}

.CollapsePosition .Collapse {
    height: 52px;
    border-radius: 10px ;
}