.tag {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 5px;
}
.tag p {

font-size: 14px;
padding: 5px 22px;
}
.tag :first-child {
    background-color: red;
    border-radius: 25px;
    margin-left: 10px;

}
.contentTag{
    display: flex;
    justify-content: flex-start;
    margin: 50px 0 50px 80px;
}


@media screen and (max-width: 800px) {

    .contentTag {
        margin: 0;
        margin-left: 10px;
        flex-wrap: wrap;
        margin-top: 40px;
    }
    .tag :first-child {
    
    margin-left: 0;

    }
    .tag p {
        padding: 2px 12px;
    }
    .tag {
        margin-top: 5px;
    }

}