.Right {
    position: absolute;
    right: 0;
    top: 40%;
    margin-right: 23px ;
    cursor: pointer;
    width: auto;
    height: 80px;

}
.Left {
    position: absolute;
    left: 0;
    top: 40%;
    margin-left: 23px ;
    cursor: pointer;
    width: auto;
    height: 80px;
}
.indexSlide {
    font-size: 18px;
    position: absolute;
    color: white;
    right: 50%;
    margin-top: -45px;
}



@media screen and (max-width: 800px) {
    .Right {
        height: 20px;
        width: auto;
        margin-right: 6px;
    }
    .Left {
        height: 20px;
        margin-left: 6px;
        width: auto;
    }
}

