svg{
    background-image: url(./assets/Logo.svg) ;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.menu {
    font-size: 24px;
    
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
