.Collapse{
    width: 100%;
    height: 47px;
    background-color: #FF6060 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    z-index: 5;
}
.descriptionCollapse {
    margin-top: -5px;
    padding: 30px 20px 40px 20px;
    max-width: 100%;
    z-index: 1;
    font-size: 24px;
    color: #FF6060;
}
.boxCollapse{
    margin: 15px 100px;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 60%;
}
.ouverte {

    background-color: #F5F5F5;
}
  
.fermee {
    display: none;
}


.svgCross {
    margin-right: 20px;
}
.crossUp {
    transform: rotate(180deg);

}
 
.crossDown{
    transform: rotate(0deg);
} 
  
.titleCollapse {
    margin: 20px;
}
/* #descriptionCollapse{
    width: 100%;
} */
#descriptionsCollapse :first-child{
    list-style: none;
}
#equipmentsCollapse {
    max-width: 100%;

}

#ulEquipments {
    list-style: none;
    padding: 10px 550px 0px 10px;
}
.heightCollapseLogement{
    height: 52px;
    border-radius: 10px;
}