@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Shrikhand&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
}






