.footer {
 background-color: black;
 width: 100%;
 height: 209px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.footer :last-child {
    margin-top: 12px;
   }
.footer :first-child {
    margin-top: 20px;
}
